*{
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
}
#hamburger {
    display: none;
}
h3 {
    cursor: default;
}
#navList {
    padding-right: 30px;  
}
#nav {
    z-index: 1000;
}
body {
    overflow-x: hidden;
    z-index: 0;
}
header {
    z-index: 1000;
}
#particles-js {
    background: #ffff;
    width: 100%;
    position: absolute;
    height: 100%;
    z-index: -100;
}
#aboutMe {
    margin-top: 110px;
}
svg {
   min-width: 20px !important;
   min-height: 20px !important; 
}
@media screen and (max-width: 640px) {
    body {
        overflow-x: hidden;
    }
    #hamburger {
        display: block;
    }
    #navRight {
        margin-left: 20vw;
    }
    #navList {
        padding-right: 0px; 
    }
}
@media screen and (max-width: 430px) {
    #navRight {
        margin-left: 10vw;
    }
}
@media screen and (max-width: 380px) {
    #navRight {
        margin-left: 0;
    }
    #about {
        padding-left: 0 !important;
    }
}